.bg-footer
{
    background-color: #2C3E50;
}

.rounded-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.bg-lower-footer{
    background-color: #1A252F;
}